.selected-row {
    background-color:green;
}
body{
    background-color: black;
}
.error{
    border: solid red;
}
.span-error{
    display: none;
}
.span-error2{
    display: none;
}
.span-error3{
    display: none;
}
.span-error4{
    display: none;
}
.span-error5{
    display: none;
}
span{
    display: block;
    color:red
}
